/*
 * Style tweaks
 * --------------------------------------------------
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin:0;
    padding:0;
}
body {
  padding-top: 50px;
  background-color: #FFFFFF;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

